body {
    font-size: 16px;
  }
  h1 {
    font-family: sans-serif;
    font-size: 65px;
    text-align: center;
    text-decoration:underline;
    color: orange
  }
  ul {
    background-color: peru;
    line-height: 30px;
  }
  .corfundo {
    background-color: #b1b1b165;
    font-style: italic;
  }
  p {
    font-weight: 600;
    font-size: 3em;
  }
  #amarelo{
    background-color: yellow;
  }
  #vermelho{
    background-color: red;
  }
  #marrom{
    background-color: saddlebrown;
  }
